
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  header{
    .ant-select{
      margin-right:10px;
      vertical-align: middle;
      .ant-select-selection{
        height: 22px;
        background-color: rgba(95, 91, 91, 0.5);
        color: #eee;
        font-size: 12px;
        .ant-select-arrow{
          color:#eee;
        }
      }
    }
    .ant-btn-danger{
      height: 20px;
      font-size: 12px;
      border: 1px solid #eee;
      line-height: 19px;
      background-color: #F56C6C;
      &:hover{
        background: #f78989;
        border-color: #f78989;
        color: #FFF;
      }
      &:active{
        background: #dd6161;
        border-color: #dd6161;
        color: #FFF;
      }
    }
  }
}
